.box-container{
    width: 200px;
    aspect-ratio: 1/1;
} 
.box:nth-child(2){
    translate: 20px 20px;
}
.box:nth-child(3){
    translate: 40px 40px;
}
.box:nth-child(4){
    translate: 60px 60px;
}