.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    /* border: 2px solid black; */
}

.container-fluid{
    background-color: lightgray;
}
.card{
    border-radius: 5px;
}
.card img{
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    width: 100%;
}
.btn{
    border: 1px solid black;
}