body{
    background-color: lightgray;
}
.todo{
    display: flex;
    justify-content: center;
   
}
.container{
    background-color: white;
    border-radius: 5px;
}

.container .top h1{
    display: flex;
    justify-content: center;
}

