.container{
    border: 4px solid black;
}
.row{
    border: 2px solid red;
    height: 400px;
}
.orange{
    background-color: orange;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
